{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container h-100">
    <h1 class="display-3 my-3">Instructions</h1>
    <p class="lead">This page is here to explain to the user how to use licences purchased here and what other options are available.
        Rest of the text on this page is just lorem ipsum with some additional meaningless styling.</p>
    <h2 class="h3">Pellentesque habitant morbi</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Enim sit amet venenatis urna. Morbi non arcu risus quis. Odio tempor orci dapibus ultrices in
        iaculis. Commodo quis imperdiet massa tincidunt. Et leo duis ut diam quam nulla porttitor massa. Semper quis
        lectus nulla at volutpat diam ut venenatis tellus. Pellentesque habitant morbi tristique senectus et. Arcu
        cursus euismod quis viverra nibh cras pulvinar mattis nunc. Eget arcu dictum varius duis at consectetur lorem.
        Nisi scelerisque eu ultrices vitae auctor eu augue. Aliquet enim tortor at auctor. Dignissim cras tincidunt
        lobortis feugiat vivamus at augue. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus. Vitae et leo
        duis ut diam quam nulla.</p>
    <p>Nunc lobortis mattis aliquam faucibus. Ullamcorper sit amet risus nullam eget felis. Donec adipiscing tristique
        risus nec feugiat in fermentum. Integer feugiat scelerisque varius morbi. Facilisis magna etiam tempor orci.
        Lorem ipsum dolor sit amet consectetur. Eget dolor morbi non arcu risus quis varius quam quisque. Pretium quam
        vulputate dignissim suspendisse in est ante in nibh. Eu scelerisque felis imperdiet proin fermentum leo vel.
        Vulputate eu scelerisque felis imperdiet proin fermentum leo. Tristique risus nec feugiat in fermentum posuere
        urna. Tortor at auctor urna nunc id cursus metus aliquam eleifend. Eget est lorem ipsum dolor sit amet
        consectetur adipiscing. Amet nisl purus in mollis nunc. Vitae justo eget magna fermentum iaculis. Sit amet
        cursus sit amet dictum sit amet.</p>
    <h2 class="h3">Scelerisque in dictum</h2>
    <p>Eget nunc lobortis mattis aliquam faucibus purus in massa tempor. Mi eget mauris pharetra et ultrices neque.
        Rhoncus est pellentesque elit ullamcorper dignissim cras. Diam maecenas sed enim ut sem. Faucibus nisl tincidunt
        eget nullam non. Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. Varius sit amet mattis
        vulputate enim nulla aliquet porttitor lacus. Sit amet nisl suscipit adipiscing bibendum est ultricies.
        Elementum integer enim neque volutpat. Imperdiet nulla malesuada pellentesque elit. Euismod elementum nisi quis
        eleifend quam adipiscing vitae. Scelerisque in dictum non consectetur a.</p>
    <p>Risus in hendrerit gravida rutrum. Iaculis eu non diam phasellus vestibulum lorem sed risus. Sem fringilla ut
        morbi tincidunt. Placerat duis ultricies lacus sed turpis tincidunt id. Sit amet justo donec enim diam
        vulputate. Aliquet lectus proin nibh nisl condimentum id. Rutrum quisque non tellus orci ac auctor augue mauris
        augue. Pulvinar elementum integer enim neque volutpat ac tincidunt. Dui faucibus in ornare quam viverra orci
        sagittis. Nibh venenatis cras sed felis eget velit aliquet sagittis. Aliquam purus sit amet luctus venenatis.
    </p>
    <p>Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper. Bibendum arcu vitae elementum
        curabitur vitae nunc. Massa tempor nec feugiat nisl pretium fusce. Ac auctor augue mauris augue neque gravida
        in. Id
        diam maecenas ultricies mi eget. Blandit cursus risus at ultrices mi. Iaculis urna id volutpat lacus laoreet non
        curabitur gravida. Pellentesque diam volutpat commodo sed egestas. Orci a scelerisque purus semper eget duis at.
        Eget nulla facilisi etiam dignissim. Integer malesuada nunc vel risus.</p>
    <p>&nbsp;</p>
</div>
{% endblock %}