{% extends "base.html" %}
{% load static %}

{% block content %}
<img src="https://picsum.photos/id/139/1366/300" class="img-fluid title-image" alt="contact">
<div class="container h-100">
    <h1 class="display-3 my-3">Customer service</h1>
    <p class="lead">For product specific questions please consult user manual on product description page.</p>
    <h2 class="h3">FAQ</h2>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="hh1">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#cc1" aria-expanded="true" aria-controls="cc1">
                        Frequent question about payment
                    </button>
                </h2>
            </div>

            <div id="cc1" class="collapse show" aria-labelledby="hh1" data-parent="#accordionExample">
                <div class="card-body">
                    Aliquet enim tortor at auctor urna nunc id. Risus nec feugiat in fermentum posuere urna nec tincidunt. Pretium lectus quam id leo in vitae turpis. Ante metus dictum at tempor commodo ullamcorper a. Vivamus at augue eget arcu dictum varius duis at consectetur. Aliquam nulla facilisi cras fermentum.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="hh2">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#cc2" aria-expanded="false" aria-controls="cc2">
                        Licence handling
                    </button>
                </h2>
            </div>
            <div id="cc2" class="collapse" aria-labelledby="hh2" data-parent="#accordionExample">
                <div class="card-body">
                    Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. A arcu cursus vitae congue mauris rhoncus aenean. In fermentum et sollicitudin ac orci phasellus egestas tellus rutrum.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="hh3">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#cc3" aria-expanded="false" aria-controls="cc3">
                        In-app purchase
                    </button>
                </h2>
            </div>
            <div id="cc3" class="collapse" aria-labelledby="hh3" data-parent="#accordionExample">
                <div class="card-body">
                    Iaculis nunc sed augue lacus viverra vitae congue eu consequat. Aliquet bibendum enim facilisis gravida neque. Morbi tristique senectus et netus et malesuada fames ac turpis.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="hh4">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#cc4" aria-expanded="false" aria-controls="cc4">
                        Some app specific question
                    </button>
                </h2>
            </div>
            <div id="cc4" class="collapse" aria-labelledby="hh4" data-parent="#accordionExample">
                <div class="card-body">
                    Nisl nisi scelerisque eu ultrices vitae auctor eu augue. Elementum nisi quis eleifend quam. Velit egestas dui id ornare. Aliquet porttitor lacus luctus accumsan tortor. Scelerisque felis imperdiet proin fermentum leo vel. Ut morbi tincidunt augue interdum velit euismod.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="hh5">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#cc5" aria-expanded="false" aria-controls="cc5">
                        Gravida in fermentum et sollicitudin. Sagittis aliquam malesuada bibendum arcu?
                    </button>
                </h2>
            </div>
            <div id="cc5" class="collapse" aria-labelledby="hh5" data-parent="#accordionExample">
                <div class="card-body">
                    Lectus magna fringilla urna porttitor rhoncus. Metus vulputate eu scelerisque felis imperdiet proin fermentum leo vel. At in tellus integer feugiat scelerisque varius morbi. Mauris pellentesque pulvinar pellentesque habitant morbi tristique. Integer malesuada nunc vel risus commodo viverra. Metus aliquam eleifend mi in nulla posuere sollicitudin. Donec massa sapien faucibus et molestie ac feugiat. Volutpat diam ut venenatis tellus in metus vulputate.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="hh6">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#cc6" aria-expanded="false" aria-controls="cc6">
                        Eu nisl nunc mi ipsum faucibus vitae aliquet. Aliquet sagittis id consectetur purus ut.
                    </button>
                </h2>
            </div>
            <div id="cc6" class="collapse" aria-labelledby="hh6" data-parent="#accordionExample">
                <div class="card-body">
                    Risus in hendrerit gravida rutrum quisque. Phasellus egestas tellus rutrum tellus. Vitae auctor eu augue ut lectus arcu bibendum. Diam in arcu cursus euismod quis viverra. Id semper risus in hendrerit gravida. Euismod quis viverra nibh cras pulvinar. Ultricies mi eget mauris pharetra et ultrices. Urna nunc id cursus metus aliquam eleifend mi in nulla. Urna duis convallis convallis tellus id interdum velit laoreet id. Eu scelerisque felis imperdiet proin fermentum leo vel. Augue eget arcu dictum varius duis at consectetur lorem. Egestas pretium aenean pharetra magna ac placerat vestibulum lectus mauris. Egestas sed sed risus pretium quam. Egestas dui id ornare arcu odio ut sem. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam. Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet.
                </div>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
</div>
{% endblock %}