{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container h-100 mb-5">
    <h1 class="display-3 my-3">Profile</h1>
    
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 my-3">
            <div class="card border-primary">
                <div class="card-body text-dark">
                    <h5 class="card-title">Account Details</h5>
                    <p class="mb-1"><span class="text-muted">Username:</span> {{ profile.user.username }}</p>
                    <p><span class="text-muted">Email:</span> {{ profile.user.email }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'account_email' %}" class="badge badge-secondary mr-3">e-mail management</a>
                    <a href="{% url 'account_change_password' %}" class="badge badge-secondary mr-3">change password</a>
                </div>
            </div>
        </div>
    
        <div class="col-12"></div>
    
        <div class="col-12 col-md-6 my-3">
            <div class="card border-success">
                <div class="card-body text-dark">
                    <h5 class="card-title">Licenses</h5>
                    {% for license in licenses %}
                    <div class="my-2 pt-2 border-top">
                        <p class="mb-1"><span class="text-muted">Product:</span> <a href="{% url 'product_detail' license.product.pid %}">{{ license.product.name }}</a> ({{ license.date_acquired|date:"Y-m-d" }})</p>
                        <p><span class="text-muted">Key:</span> <span class="text-monospace">{{ license.key }}</span></p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    
        <div class="col-12 col-md-6 my-3">
            <div class="card border-success">
                <div class="card-body text-dark">
                    <h5 class="card-title">Orders</h5>
                    {% for order in orders %}
                    <div class="my-2 pt-2 border-top">
                        <p class="mb-1"><span class="text-muted">Order number:</span> {{ order.order_id }}</p>
                        <p class="mb-1"><span class="text-muted">Date:</span> {{ order.date }}</p>
                        <p class="mb-1"><span class="text-muted">Total:</span> {{ order.total }}</p>
                        <p class="mb-1"><span class="text-muted">Products:</span></p>
                        <ul class="list-unstyled">
                            {% for item in order.orderitem.all %}
                                <li class="small">
                                    <a href="{% url 'product_detail' item.product.pid %}"></a>{{ item.product.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}