{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container h-100 my-4">
    {% if isSaleActive %}
    <div class="row mb-4">
        <h2 class="h3 col-12">On sale</h2>
        {% for product in sale %}
            {% include 'products/includes/product_box.html' %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="row pt-2">
        {% if search %}
        <div class="col-12 col-md-9">
            <h1 class="h3 d-inline-block">Search results for &quot;{{ search }}&quot;</h1>
            <a href="{% url 'products_list' %}" class="badge badge-secondary ml-4">Clear</a>
        </div>
        {% else %}
        <h1 class="h3 col-12 col-md-9">Products</h1>
        {% endif %}
        <div class="col-12 col-md-3">
            <select id="sort-selector" class="custom-select custom-select-sm">
                <option value="reset" {% if sortOrder == 'none' %}selected{% endif %}>Sort by...</option>
                <option value="name" {% if sortOrder == 'name' %}selected{% endif %}>Name (A-Z)</option>
                <option value="rating" {% if sortOrder == 'rating' %}selected{% endif %}>Rating (high to low)</option>
                <option value="sale" {% if sortOrder == 'sale' %}selected{% endif %}>Bestselling (high to low)</option>
            </select>
        </div>
    </div>
    <div class="row mt-2 mb-4">
        {% for product in products %}
            {% include 'products/includes/product_box.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block morejs %}
{{ block.super }}
<script>
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal;
            currentUrl.searchParams.set("sort", sort);
            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}
